@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(16,99,51,1) 0%, rgba(97,162,68,1) 100%);
}

.container-left {
  position: fixed;
  padding: 40px;
  left: 100px;
  top: 125px;
  width: 400px;
  background: #EFEFEF;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chatbot-popup {
  position: fixed;
  right: 150px;
  bottom: 50px;
  background: #EFEFEF;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 950px;
}

.chat-header {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  background: #106333;
  color: #fff;
  border-radius: 15px 15px 0 0;
}

.header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat-header button {
display: none;
}

.chat-body {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: auto;
  padding: 15px;
  scrollbar-width: thin;
  scrollbar-color: #e2e3e2 transparent;
}
.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 7px; 
}

.bot-message {
  align-items: flex-start;
}

.bot-message .message-text {
  background: #FFF;
  border-radius: 10px 10px 10px 3px;
  padding: 10px;
  max-width: 70%; 
}

.user-message {
  align-items: flex-end;
}

.user-message .message-text {
  background: #ADD8E6;
  border-radius: 10px 10px 3px 10px;
  padding: 10px;
  max-width: 70%; 
}

.message p {
  margin: 0; 
}

.chat-footer {
  padding: 15px;
  background: #fff;
  border-radius: 0 0 15px 15px;
}

.chat-form {
  display: flex;
  align-items: center;
  border: 1px solid #CCCCE5;
  border-radius: 25px;
  padding: 5px;
}

.chat-form:focus-within {
  border-color: #61A244;
}

.message-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 0.95rem;
  background: none;
}

.chat-form button {
  height: 35px;
  width: 35px;
  border: none;
  background: #106333;
  color: #fff;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 50%;
}

.chat-form button:hover {
  background: #61A244;
}

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .chatbot-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column; 
  }

  .chat-header {
    flex-shrink: 0; 
    border-radius: 0%;
    background: #106333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .chat-header button {
    height: 35px;
    width: 35px;
    border: none;
    background: #61A244;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    display: block; 
  }
  
  .chat-header button:hover {
    background: #448A2A;
  }

  .chat-body {
    flex: 1; 
    overflow-y: auto; 
    padding: 30px;
    scrollbar-width: thin;
    scrollbar-color: #e2e3e2 transparent;
  }

  .chat-footer {
    flex-shrink: 0; 
    width: 100%;
    background: white;
    padding: 15px;
  }

  .container-left {
    display: none; 
    position: fixed;
    padding: 40px;
    left: 100px;
    top: 125px;
    width: 400px;
    background: #EFEFEF;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

